# {{ ansible_managed }}

{% if monasca_api_use_wsgi %}
    {% set handlers='console' %}
{% else %}
    {% set handlers='console,file' %}
{% endif %}

[loggers]
keys = root, sqlalchemy, kafka

[handlers]
keys = {{ handlers }}

[formatters]
keys = context

[logger_root]
level = {{ monasca_api_log_level }}
handlers = {{ handlers }}

[logger_sqlalchemy]
qualname = sqlalchemy.engine
level = {{ monasca_api_sqlalchemy_log_level }}
handlers = {{ handlers }}
propagate=0

[logger_kafka]
qualname = kafka
level = {{ monasca_api_log_level }}
handlers = {{ handlers }}
propagate = 0

[handler_console]
class = logging.StreamHandler
args = (sys.stderr,)
level = {{ monasca_api_log_level }}
formatter = context

{% if not monasca_api_use_wsgi %}
[handler_file]
class = logging.handlers.RotatingFileHandler
level = {{ monasca_api_log_level }}
formatter = context
args = ('{{ monasca_api_log_dir }}/monasca-api.log', 'a', 104857600, 5)
{% endif %}

[formatter_context]
class = oslo_log.formatters.ContextFormatter
