# {{ ansible_managed }}

[Unit]
Description=Monasca Api
Requires=network.target
After=network.target

[Service]
Type=simple
User={{ monasca_api_user }}
Group={{ monasca_api_group }}
LimitNOFILE=32768
Restart=on-failure
ExecStart=/usr/bin/java -Dfile.encoding=UTF-8 {{ monasca_api_java_opts }} -cp {{ monasca_jar_dir }}/monasca-api.jar:{{ monasca_jar_dir }}/vertica/vertica_jdbc.jar monasca.api.MonApiApplication server {{ monasca_api_conf_file_java }}

[Install]
WantedBy=multi-user.target
